body {
  text-align: center;
}

.add_form {
  background: transparent;
  border: none;
  width: 18%;
  border-bottom: 1px solid lightgray;
  transition: 0.5s;
  padding-bottom: 10px;
  margin: 2%;
  font-size: .8em;
}

.add_form:focus {
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid lightgray;
  font-size: 1.2em;
}

.form-input {
  background: transparent;
  border: none;
  width: 70%;
  border-bottom: 1px solid lightgray;
  height: auto;
  transition: 0.3s;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.form-input:focus {
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid lightgray;
  font-size: 1.8em;
}

input:focus,
textarea:focus{
    outline: none;
}

button {
  background: transparent;
  border: none;
  font-size: 1.0em;
  transition: 0.5s;
  color: gray;
}
button:hover {
  box-shadow: none;
  border-color: transparent;
  color: black;
  font-size: 1.3em;
}
