body {
  text-align: center;
}

.header {
  width: 100%;
}

.form-input {
  background: transparent;
  border: none;
  width: 70%;
  border-bottom: 1px solid lightgray;
  height: auto;
  transition: 0.3s;
  padding-left: 0px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.form-input:focus {
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid lightgray;
  font-size: 1.8em;
}

input:focus,
textarea:focus{
    outline: none;
}
