body {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: gray;
  transition: 0.5s;
  margin: -5px 0;
}
h2:hover {
  box-shadow: none;
  border-color: transparent;
  color: black;
  font-size: 1.8em;
  cursor: pointer;
}

.add_form {
  background: transparent;
  border: none;
  width: 18%;
  border-bottom: 1px solid lightgray;
  transition: 0.5s;
  padding-bottom: 10px;
  margin: 2%;
  font-size: .8em;
}

.add_form:focus {
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid lightgray;
  font-size: 1.2em;
}

.form-input {
  background: transparent;
  border: none;
  width: 70%;
  border-bottom: 1px solid lightgray;
  height: auto;
  transition: 0.3s;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.form-input:focus {
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid lightgray;
  font-size: 1.8em;
}

input:focus,
textarea:focus{
    outline: none;
}

button {
  background: transparent;
  border: none;
  font-size: 1.0em;
  transition: 0.5s;
  color: gray;
}
button:hover {
  box-shadow: none;
  border-color: transparent;
  color: black;
  font-size: 1.3em;
}

.listContainer {
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.thelist {
  display: inline-block;
  /* background-color: WhiteSmoke; */
  border: 2px solid whiteSmoke;
  border-radius: 10px;
  margin: 10px;
  width: 350px;
  padding: 10px;

}

h4 {
  display: inline-block;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

span {
  color: PaleVioletRed;
  font-size: 1.2em;
}

.delete {
  margin-left: 20px;
  transition: 0.3s;
  color: gray;
}

.delete:hover {
  font-size: 1.2em;
  color: black
}
